---
import DashboardLayout from '../layouts/DashboardLayout.astro';
import FormularioProducto from '../components/FormularioProducto.astro';
---

<DashboardLayout title="Productos">
  <div class="max-w-4xl mx-auto space-y-6">
    
    <div class="mt-4">
      <h2 class="text-2xl font-bold text-slate-800 tracking-tight">Catálogo de Almacén</h2>
      <p class="text-sm text-slate-500">Administre las existencias, registre nuevas altas y controle el stock.</p>
    </div>

    <FormularioProducto client:load />

  </div>
</DashboardLayout>